@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=PT+Sans&display=swap');

:root {
    font-family: 'Montserrat', 'Merriweather Sans', 'PT Sans', sans-serif;
    --main-dashboard-bg: #9147ff;
    --main-dashboard-text: #f3f3f3;
    --main-head-background: #f3f3f3;
    --main-head-color: #0e0e10;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
}

/* Sidebar */

.sideboard {
    background-color: var(--main-dashboard-bg);
    color: var(--main-dashboard-text);
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template: auto auto 1fr / 1fr;
    padding: 1em;
}

.sideboard a {
    text-decoration: none;
    color: var(--main-dashboard-text);
}

.sideboard ul {
    padding: 0;
}

.sideboard li {
    list-style-type: none;
    font-weight: bold;
    border: 5px solid transparent;
    padding: 6px 0px;
}

.sideboard li a,
.header-dash {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sideboard li p {
    margin: 0px;
}

.github-link {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.github-link img {
    height: 2rem;
}

/* Headboard */

.headboard {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    background-color: var(--main-head-background);
    color: var(--main-head-color);
    padding: 1rem 2rem;
}

/* Search Bar */

.headboard .search-bar {
    display: flex;
    align-items: center;
}

.headboard .search-bar input {
    border-radius: 14px;
    padding: 0.5rem;
    border: none;
    background-color: darkgray;
}

.search-bar form,
.search-bar input {
    display: flex;
    width: 100%;
}

#search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background: url(./img/close.png);
    background-size: contain;
}

.search-bar button,
.search-bar button img {
    border: none;
    background-color: var(--main-head-background);
    opacity: 0.6;
    height: 1.5rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.search-bar img:active {
    opacity: 1;
}

/* Profile */

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    gap: 1rem;
}

.profile button {
    border: none;
    background-color: var(--main-head-background);
    cursor: pointer;
}

.profile button,
.profile button img {
    height: 1.5rem;
}

.profile-pic {
    height: 3rem;
    border-radius: 24px;
}

.profile-name {
    font-weight: bold;
}

.user {
    cursor: pointer;
}

/* Greeting */

.welcome-user {
    display: grid;
    grid-template: auto auto / auto 1fr;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.welcome-user .profile-pic {
    height: 4rem;
    border-radius: 32px;
    grid-area: 1 / 1 / -1 / 2;
}

