@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=PT+Sans&display=swap');

:root {
    font-family: 'Montserrat', 'Merriweather Sans', 'PT Sans', sans-serif;
    --main-dashboard-bg: #9147ff;
    --main-dashboard-text: #f3f3f3;
    --main-head-background: #f3f3f3;
    --main-head-color: #0e0e10;
    --content-background: rgb(180, 177, 182);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    display: grid;
    grid-template: auto 4fr / auto 4fr;
}

/* Sidebar */

.sideboard {
    background-color: var(--main-dashboard-bg);
    color: var(--main-dashboard-text);
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template: auto auto 1fr / 1fr;
    padding: 1em;
}

.sideboard a {
    text-decoration: none;
    color: var(--main-dashboard-text);
    transition: transform .2s ease-out;
}

.sideboard a:hover {
    transform: scale(1.05);
}

.sideboard a:active {
    transform: scale(1.01);
}

.sideboard ul {
    padding: 0;
}

.sideboard li {
    list-style-type: none;
    font-weight: bold;
    border: 5px solid transparent;
    padding: 6px 0px;
}

.sideboard li a,
.header-dash {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sideboard li p {
    margin: 0px;
}

.github-link {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.github-link img {
    height: 2rem;
}

/* Headboard */

.headboard {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    background-color: var(--main-head-background);
    color: var(--main-head-color);
    padding: 1rem 2rem;
}

/* Search Bar */

.headboard .search-bar {
    display: flex;
    align-items: center;
}

.headboard .search-bar input {
    border-radius: 14px;
    padding: 0.5rem;
    border: none;
    background-color: var(--content-background);
}

.search-bar form,
.search-bar input {
    display: flex;
    width: 100%;
}

#search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    background: url(./img/close.png);
    background-size: contain;
}

.search-bar button,
.search-bar button img {
    border: none;
    background-color: var(--main-head-background);
    opacity: 0.6;
    height: 1.5rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.search-bar img:active {
    opacity: 1;
}

/* Profile */

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    gap: 1rem;
}

.profile button {
    border: none;
    background-color: var(--main-head-background);
    cursor: pointer;
}

.profile button,
.profile button img {
    height: 1.5rem;
}

.profile-pic {
    height: 3rem;
    border-radius: 24px;
}

.profile-name {
    font-weight: bold;
}

.user {
    cursor: pointer;
}

/* Greeting */

.welcome-user {
    display: grid;
    grid-template: auto auto / auto 1fr;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.welcome-user .profile-pic {
    height: 4rem;
    border-radius: 32px;
    grid-area: 1 / 1 / -1 / 2;
}

/* User Buttons */

.user-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.user-buttons button {
    border: 0;
    background-color: var(--main-dashboard-bg);
    color: var(--main-dashboard-text);
    font-weight: bold;
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    border-radius: 22px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.user-buttons button:hover {
    transform: scale(1.05);
}

.user-buttons button:active {
    transform: scale(1);
    opacity: 0.9;
}

/* Main Content */

.main-container {
    display: grid;
    grid-template: auto auto / 3fr 1fr;
    padding-bottom: 2rem;
    background-color: var(--content-background);
}

.main-container h2 {
    font-size: 1.2rem;
}

.main-content {
    grid-row: 1 / -1;
    display: grid;
    grid-template: auto repeat(3, 1fr) / 1fr 1fr;
    justify-items: center;
    gap: 2rem 1.5rem;
    margin: 2rem;
}

/* Projects Section & Tiles */

.projects-section {
    grid-column: 1 / -1;
    justify-self: start;
}

.project {
    background-color: var(--main-head-background);
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #555;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: grid;
    grid-template: 3rem auto 2rem / 10px 1fr 1fr;
    column-gap: 1rem;
}

.project:hover {
    transform: scale(1.03);
}

.color-bar {
    background-color: var(--main-dashboard-bg);
    grid-row: 1 / -1;
    border-radius: 8px 0 0 8px;
}

.project-header {
    font-size: 1.2rem;
    grid-area: 1 / 2 / 2 / -1;
    margin: 0;
    display: flex;
    align-items: center;
}

.project a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 5px #0e0e10;
}

.project a:hover {
    transform: scale(1.03);
}

.project a {
    grid-area: 2 / 2 / 3 / 3;
    transition: all 0.1s ease-in-out;
}

.project .project-buttons {
    grid-area: -2 / 3 / -1 / 4;
    display: flex;
    justify-content: end;
}

.project .project-buttons button,
.project-buttons img {
    border: 0;
    background-color: var(--main-head-background);
    height: 1.5rem;
    cursor: pointer;
}

.project-buttons img:hover {
    transform: rotate(-5deg);
}

.project-buttons img:active {
    transform: scale(0.9);
}

.project-description {
    grid-area: 2 / 3 / 3 / 4;
    font-size: 0.9rem;
    margin-right: 1rem;
}

/* Announcement & Trending Area */

.announcement-content,
.trending-content {
    margin: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 2rem;
}

.announcement-tile,
.trending-tile {
    background-color: var(--main-head-background);
    border-radius: 8px;
    box-shadow: 0px 0px 8px #555;
    padding: 1rem;
}

.announcement-content h3,
.trending-content h3 {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
}

.announcement-content p,
.trending-content p {
    margin: 5px 0px;
    font-size: 0.8rem;
    opacity: 0.6;
}

.announcement-example {
    border-bottom: 1px solid rgba(100, 100, 100, 0.25);
    margin: 10px 0px;
}

.announcement-example:nth-last-child(1) {
    border: 0;
}